*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  max-width: 2500px;
}

img{
  width: 100%;
  display: block;
  aspect-ratio:1/1;
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 100%;
  width:100%;
}

.text-container p{
}

.text-container .position{
}

.text-container .title{
}

.text-container .artist{
}

.text-container .year{
}

.grid-item:hover img {
  opacity: 0.3;
}

.grid-item:hover .text-container {
  opacity: 1;
}

/* (2 cols) (less than 500px) */
.grid-item{
  width: 50%;
  position: relative;
}

/* (3 cols) (501px to 750px) */
@media (min-width: 501px) {
  .grid-item{
    width: calc(100%/3);
  }
}

/* (4 cols) (751px to 1000px) */
@media (min-width: 751px) {
  .grid-item{
    width: 25%;
  }
}

/* (5 cols) (1001px to 1250px) */
@media (min-width: 1001px) {
  .grid-item{
    width: 20%;
  }
}

/* (6 cols) (1251px to 1500px) */
@media (min-width: 1251px) {
  .grid-item{
    width: calc(100%/6);
  }
}

/* (7 cols) (1501px to 1750px) */
@media (min-width: 1501px) {
  .grid-item{
    width: calc(100%/7);
  }
}

/* (8 cols) (1751px to 2000px) */
@media (min-width: 1751px) {
  .grid-item{
    width: calc(100%/8);
  }
}

/* (9 cols) (2001px to 2500px) */
@media (min-width: 2001px) {
  .grid-item{
    width: calc(100%/9);
  }
}

/* (10 cols) (2501px and up) */
@media (min-width: 2501px) {
  .grid-item{
    width: 10%;
  }
}
